Learning/
*.code-workspace
prototype**/
**.npy
**/Experiments

**/weight_logs/
**/SAMPLES/

# Byte-compiled / optimized / DLL files
**/__pycache__/
**.pyc
**coordinates.json
**/*.json
Natural Structures/coordinates.json
*.log
**/ids.txt
**/*.perflog
